@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="col-12 mb-3">
    <div class="row">
        <div class="border-bottom col-3 ml-auto mr-auto text-center">
            <h2>تازه ترین مقالات</h2>
        </div>
    </div>
</div>

@foreach (var article in Model.Articles)
{
    <div class="col-4 mb-2">
        <div class="card">
            <img src="@article.Picture" class="card-img-top" alt="@article.PictureAlt" title="@article.PictureTitle">
            <div class="card-body">
                <h5 class="card-title">@article.Title</h5>
                <p class="card-text">
                    @article.Shortdescription
                </p>
                <a
                    class="btn btn-primary" asp-page="./ArticleDetails" asp-route-id="@article.Id">ادامه مطلب</a>
                <a   class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@article.Id">حذف</a>
            </div>
        </div>
    </div>
}

@*
<div class="col-4 mb-2">
    <div class="card">
        <img src="~/images/camp.jpg" class="card-img-top" alt="" title="First Article">
        <div class="card-body">
            <h5 class="card-title">Cart article</h5>
            <p class="card-text">
                Lorem
            </p>
            <a
                class="btn btn-primary">ادامه مطلب</a>
            <a   class="btn btn-danger">حذف</a>
        </div>
    </div>
</div>


<div class="col-4 mb-2">
    <div class="card">
        <img src="~/images/camp.jpg" class="card-img-top" alt="" title="Second Article">
        <div class="card-body">
            <h5 class="card-title">Second Cart article</h5>
            <p class="card-text">
                Second Lorem 
            </p>
            <a
                class="btn btn-primary">ادامه مطلب</a>
            <a   class="btn btn-danger">حذف</a>
        </div>
    </div>
</div>

<div class="col-4 mb-2">
    <div class="card">
        <img src="~/images/camp.jpg" class="card-img-top" alt="" title="Third Article">
        <div class="card-body">
            <h5 class="card-title">Second Cart article</h5>
            <p class="card-text">
                Third Lorem
            </p>
            <a class="btn btn-primary">ادامه مطلب</a>
            <a class="btn btn-danger">حذف</a>
        </div>
    </div>
</div>



*@